<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logos/favicon-16x16.png">
    <link rel="mask-icon" href="/images/logos/safari-pinned-tab.svg" color="#5d5e55">

    <meta name="msapplication-TileColor" content="#f8ede3">
    <meta name="theme-color" content="#f8ede3">
    
    <title>RestHunter | Berburu restoran terbaik di Indonesia</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
</head>

<body>
    <!-- Button skip -->
    <a href="#katalog-restoran" class="btn-skip">Menuju ke konten</a>

    <!-- Header Section -->
    <header>
        <div class="container">
            <div class="header-section">

                <!-- Logo Section -->
                <div tabindex="0" class="header-logo">
                    <h1><i>RestHunter</i></h1>
                </div>

                <!-- Navbar Section -->
                <div class="header-nav">

                    <!-- Button menu dropdown for mobile -->
                    <button class="menu-toggle" aria-label="button menu dropdown on mobile">
                        <span class="fa fa-bars"></span>
                    </button>

                    <!-- Nav menu -->
                    <nav>
                        <ul class="nav-list">
                            <li tabindex="0" class="nav-item"><a class="menu" href="/">Beranda</a></li>
                            <li tabindex="0" class="nav-item"><a class="menu" href="#">Favorit</a></li>
                            <li tabindex="0" class="nav-item"><a class="btn-nav" href="https://github.com/labsan">Tentang Kami</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Hero Section -->
        <section class="hero-section">
            <div class="hero-description">
                <h1 tabindex="0" class="hero-title">Ayo kunjungi restoran terkenal di Jawa Timur</h1>
                <p tabindex="0" class="hero-tagline">Menyajikan informasi lokasi restoran terbaik di Jawa Timur</p>
                <span class="btn-hero-section">
                    <a tabindex="0" class="btn-hero" href="#katalog-restoran">Temukan disini</a>
                </span>
            </div>
        </section>

        <div class="container">
            <!-- Katalog Section -->
            <section class="katalog-section" id="katalog-restoran">
    
                <!-- Label -->
                <h1 tabindex="0" class="katalog-label">Restoran Terpopuler di Jawa Timur</h1>
    
                <!-- Daftar Restoran Section -->
                <div class="restoran-section" id="restaurant-list"></div>
            </section>
        </div>
    </main>

    <!-- Footer Section -->
    <footer tabindex="0">
        <p tabindex="0">
            Copyright © 2021 All Rights Reserved | <i>RestHunter</i>
        </p>
    </footer>
</body>
</html>