<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logos/favicon-16x16.png">
    <link rel="mask-icon" href="/images/logos/safari-pinned-tab.svg" color="#5d5e55">

    <meta name="msapplication-TileColor" content="#f8ede3">
    <meta name="theme-color" content="#f8ede3">
    
    <title>RestHunter | Berburu restoran terbaik di Indonesia</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <div class="header-section">
                <div tabindex="0" class="header-logo">
                    <h1><i>RestHunter</i></h1>
                </div>
                <div class="header-nav">
                    <nav>
                        <ul>
                            <li tabindex="0"><a class="menu btn-size" href="/">Beranda</a></li>
                            <li tabindex="0"><a class="menu btn-size" href="#">Favorit</a></li>
                            <li tabindex="0"><a class="menu btn-size" href="https://github.com/labsan/">Kontak</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <!-- Content Section -->
        <main>

            <!-- Hero Section -->
            <section class="hero-section">
                <div class="hero-description">
                    <h1 tabindex="0" class="hero-title">Ayo kunjungi restoran terkenal di Indonesia</h1>
                    <p tabindex="0" class="hero-tagline">Menyajikan informasi lokasi restoran terbaik di Indonesia</p>
                    <a tabindex="0" class="btn btn-size" href="#katalog-restoran">Temukan disini</a>
                </div>
            </section>

            <!-- Katalog Section -->
            <section id="katalog-restoran" class="katalog-section">

                <!-- Label -->
                <h1 tabindex="0" class="katalog-label">Restoran Terpopuler di Indonesia</h1>

                <!-- Daftar Restoran Section -->
                <div class="restoran-section" id="restaurant-list"></div>
            </section>
        </main>

        <!-- Footer Section -->
        <footer tabindex="0">
            <p tabindex="0">
                Copyright © 2021 All Rights Reserved | <i>RestHunter</i>
            </p>
        </footer>
    </div>
</body>
</html>