@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary-color: #F8EDE3;
    --secondary-color: #5D5E55;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    width: 90%;
    margin: auto;
}

body {
    background-color: var(--primary-color);
    font-family: 'Alata', sans-serif;
    font-size: 14px;
    color: var(--secondary-color);
}

/* Anchor */

a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Button */

.btn {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--secondary-color);

    text-decoration: none;
    font-size: 18px;
    color: var(--primary-color);
    border-radius: 10px;
}

.btn:hover {
    text-decoration: underline;
}

