header {
    position: fixed;
    top: 0;
    z-index: 99;

    width: 100%;
    height: 100px;
    background-color: var(--quarter-spanish-white-color);
    box-shadow: 0 10px 20px 0 rgba(121, 135, 119, 0.5);
}

.header-section {
    display: flex;
    align-items: center;
    justify-items: center;

    margin-top: 30px;
}

/* 
*   Logo Section
*/

.header-logo {
    flex-grow: 3;
}

/* 
*   Navbar Section
*/

.header-nav {
    background-color: transparent;
    text-align: right;
}

.menu-toggle {
    display: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 25px;
    color: var(--chicago-color);
  }

ul li {
    display: inline-block;
    list-style: none;
}

li .menu {
    padding: 25px 10px;

    text-decoration: none;
    font-size: 16px;
    color: var(--chicago-color);
}

li .menu:hover {
    cursor: pointer;
    text-decoration: wavy underline;
}


