/* 
*   AppBar
*/

.app-bar {
    padding: 8px 16px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    background-color: var(--quarter-spanish-white-color);
    box-shadow: 0 10px 20px 0 rgba(121, 135, 119, 0.5);
}

/* 
*   AppBar > Menu
*/

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    min-width: 44px;
    min-height: 44px;
    background-color: transparent;

    font-size: 25px;
    color: var(--chicago-color);
    cursor: pointer;
    border: 0;
}

/* 
* AppBar > Brand / logo
*/

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

/* 
*   AppBar > Navigation
*/

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    transition: all 0.3s;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;
    width: 100%;
}


