/* Large class screen sizes & breakpoints Windows apps */
@media screen 
    and (min-device-width: 1008px) {

    .container {
        max-width: 1200px;
    }

    /* AppBar */
    .app-bar {
        grid-template-columns: 1fr auto;
    }
   
    .app-bar .app-bar__brand h1 {
        font-size: 2.2em;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        text-align: center;
        font-size: 1.2em;
        margin: 0;
    }

    .restoran-section {
        grid-template-columns: repeat(3, 1fr);
    }
    

}
