/* Small class screen size & breakpoints Windows apps */
@media screen
    and (min-device-width: 320px)
    and (max-device-width: 640px) {

        .app-bar .app-bar__brand h1 {
            font-size: 1.7em;
        }

        .nav-item {
            cursor: pointer;

            padding: 5px 20px;
            background-color: var(--quarter-spanish-white-color);
            text-align: center;
            border-bottom: 1px solid;
        }

        /* Style Grid katalog restoran */
        .restoran-section {
            grid-template-columns: 1fr;
        }

    @media screen 
        and (max-device-width: 480px){
            .hero-section {
                min-height: 350px;
            }
    
            .hero-description {
                padding: 0 15px;
                margin-top: 150px;
                text-align: center;
            }

            .hero-title {
                font-size: medium;
            }
        
            .hero-tagline {
                font-size: x-small;
            }
            
            .btn-hero-section {
                margin-top: 10px;
            }

            .btn-hero {
                padding: 5px 10px;
                font-size: x-small;
            }

            .katalog-label {
                margin: 20px 0;
                font-size: x-large;
            }

            .card-description {
                font-size: 12px;
            }

            footer p {
                font-size: small;
            }
    }

    @media screen 
        and (min-device-width: 481px) {
            .hero-section {
                min-height: 400px;
            }
    
            .hero-description {
                padding: 0 15px;
                margin-top: 60px;
                text-align: center;
            }
        
            .hero-title {
                margin-top: 120px;
                font-size: large;
            }
        
            .hero-tagline {
                font-size: small;
            }

            .btn-hero-section {
                margin-top: 10px;
            }
    
            .btn-hero {
                padding: 5px 10px;
                font-size: x-small;
            }
    
            .katalog-label {
                margin: 10px 0;
                font-size: 1.8em;
            }

            .card-image {
                height: 300px;
            }
    }

    @media screen 
    and (min-device-width: 530px) {
        .hero-section {
            min-height: 400px;
        }

        .hero-description {
            padding: 0 15px;
            margin-top: 90px;
            text-align: center;
        }
    
        .hero-title {
            margin-top: 80px;
            font-size: x-large;
        }
    
        .hero-tagline {
            font-size: medium;
        }

        .btn-hero-section {
            margin-top: 15px;
        }

        .btn-hero {
            padding: 5px 10px;
            font-size: small;
        }

        .katalog-label {
            margin: 10px 0;
            font-size: 2em;
        }

        .card-image {
            height: 300px;
        }
    }
}

